<table cellspacing="0" cellpadding="0" class="headers">
  <% req[:headers].each do |k, v| %>
    <tr>
      <th><%=h k %></th>
      <td><%=h v %></td>
    </tr>
  <% end %>
</table>
<br/>
<table cellspacing="0" cellpadding="0" class="xmlbody">
  <% req[:body_values].each do |k, v| %>
    <tr>
      <th><%=h k %></th>
      <td><%=h v %></td>
    </tr>
  <% end %>
</table>

<div id="req-body" style="display: none">
  <%= req[:body] %>
</div>
<a href="#" id="view-req-body" class="details">details</a>

<hr/>

<table cellspacing="0" cellpadding="0" class="headers">
  <% res[:headers].each do |k, v| %>
    <tr>
      <th><%=h k %></th>
      <td><%=h v %></td>
    </tr>
  <% end %>
</table>
<br/>
<table cellspacing="0" cellpadding="0" class="xmlbody">
  <% res[:body_values].each do |k, v| %>
    <tr>
      <th><%=h k %></th>
      <td><%=h v %></td>
    </tr>
  <% end %>
</table>

<div id="res-body" style="display: none">
  <%= res[:body] %>
</div>
<a href="#" id="view-res-body" class="details">details</a>


