<h1><%= snifter.id %></h1>

<div class="snifter">
  <div class="session-list">
    <h1>Sessions</h1>

    <form action="/<%= snifter.id %>/session" method="post">
    <input type="textbox" name="session_name">
    <input id="create_session" type="submit" value="Save Session">
    <table>
    <% last_time = 0 %>
    <% snifter.sessions.each do |sess, req, res, time, groups| %>
      <% if (time - last_time) > 3 %>
        <tr><td colspan="3"><hr/></td></tr>
      <% end %>
      <% last_time = time %>
      <tr>
        <td nowrap><input class="check" name="sessions[]" value="<%= sess %>" type="checkbox"/></td>
        <td nowrap><a class="session" href="/<%= snifter.id %>/<%= sess %>"><%= req %></a>
          <a href="/<%= snifter.id %>/<%= sess %>/raw" target="raw_snifter">raw</a>
          <a href="/<%= snifter.id %>/<%= sess %>/tweak" class="tweaker">tweak</a>
          <br/>
          <% groups.each do |group| %> <span class="group"><%= group %></span><% end %></td>
        <td nowrap><%= res %></td>
      </tr>
    <% end %>
    </table>
    </form>
    <form action="/<%= snifter.id %>/sessions" method="post">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Clear" />
    </form>
  </div>
  <div class="result-pane">
    <h1>Results</h1>
    <div id="results"></div>
  </div>
</div>
